@import "tailwindcss";

@font-face {
  font-family: "LoveLive";
  src: url("/fonts/Fontarian Sweet Heart.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LoveLive2";
  src: url("/fonts/Love Live.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LoveLive3";
  src: url("/fonts/Lucy Said Ok Personal Use.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LoveLive4";
  src: url("/fonts/Two of Hearts.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LoveLive5";
  src: url("/fonts/Wild Love.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body{
  font-family: "LoveScript", cursive;
}

.valentine-text {
  font-family: "LoveLive", cursive;
}
.valentine-text2 {
  font-family: "LoveLive2", cursive;
}
.valentine-text3 {
  font-family: "LoveLive3", cursive;
}
.valentine-text4 {
  font-family: "LoveLive4", cursive;
}
.valentine-text5 {
  font-family: "LoveLive5", cursive;
}



.text-stroke {
  text-shadow:
    1px 0 #030303,
   -1px 0 #000000,
    0 1px #000000,
    0 -1px #000000,
    1px 1px #000000,
   -1px -1px #000000,
    1px -1px #000000,
   -1px 1px #000000;
}
.text-stroke1 {
  text-shadow:
    0.5px 0 #030303,
   -0.5px 0 #000000,
    0 0.5px #000000,
    0 -0.5px #000000,
    0.5px 0.5px #000000,
   -0.5px -0.5px #000000,
    0.5px -0.5px #000000,
   -0.5px 0.5px #000000;
} 
* {
  cursor: url("/cursor1.png") 12 12, auto;
}
a:hover,
button:hover,
[role="button"]:hover {
  cursor: url("/poin.png") 12 12, pointer;
}

.hover-pointer:hover {
  cursor: url("/poin.png") 12 12, pointer;
}

@media (pointer: coarse) {
  * {
    cursor: auto !important;
  }
}

@keyframes swing {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(40deg); }
  100% { transform: rotate(0deg); }
} 

.swing-animation {
  animation: swing 1.5s ease-in-out infinite;
}

@keyframes swing1 { 
  0% { transform: rotate(0deg); }
  50% { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}

.swing-animation1 {
  animation: swing1 1.5s ease-in-out infinite;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}


@keyframes fadeIn1 {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn1 {
  animation: fadeIn1 0.9s ease forwards;
}

@keyframes fadeIn2 {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn2 {
  animation: fadeIn2 0.6s ease forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* shared base */
.circle-enter {
  animation-fill-mode: forwards;
  transform-origin: center;
}

.enter-left {
  animation: circleGrowLeft 2.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
.enter-right {
  animation: circleGrowRight 2.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}


/* LEFT IMAGE */
@keyframes circleGrowLeft {
  0% {
    transform: scale(0.1) translate(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-10px, 20px) rotate(360deg); /* stays here */
  }
}

/* RIGHT IMAGE */
@keyframes circleGrowRight {
  0% {
    transform: scale(0.1) translate(0, 0);
    opacity: 0;
  }

  100% {
    transform: scale(1) translate(10px, 20px) rotate(-360deg); /* stays here */
  }
}



.animate-slideInLeft {
  animation: slideInLeft 0.7s ease-out forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInRight {
  animation: slideInRight 0.7s ease-out forwards;
}

@keyframes slideInBottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideInBottom {
  animation: slideInBottom 0.7s ease-out forwards;
}

.torn-paper {
  object-fit: cover;
position: relative;
  /* torn edges */
  clip-path: polygon(
    2% 0%, 8% 2%, 15% 0%, 23% 3%, 30% 0%, 38% 4%, 45% 0%, 52% 3%, 60% 0%, 67% 2%, 75% 0%, 82% 3%, 88% 0%, 95% 2%, 100% 5%, 
    100% 10%, 98% 15%, 100% 20%, 97% 25%, 100% 30%, 96% 35%, 100% 40%, 97% 45%, 100% 50%, 96% 55%, 100% 60%, 98% 65%, 100% 70%, 97% 75%, 100% 80%, 95% 85%, 100% 90%, 98% 95%, 100% 100%,
    95% 100%, 88% 98%, 82% 100%, 75% 97%, 67% 100%, 60% 98%, 52% 100%, 45% 97%, 38% 100%, 30% 96%, 23% 100%, 15% 97%, 8% 100%, 2% 98%, 0% 100%, 
    0% 95%, 2% 90%, 0% 85%, 3% 80%, 0% 75%, 4% 70%, 0% 65%, 3% 60%, 0% 55%, 4% 50%, 0% 45%, 3% 40%, 0% 35%, 4% 30%, 0% 25%, 3% 20%, 0% 15%, 2% 10%, 0% 5%
  );
}

@keyframes heartFall {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translateY(90vh) scale(0.95);
  }
  100% {
    transform: translateY(100vh) scale(0.8);
    opacity: 0; /* fade out smoothly */
  }
}

.animate-heartFall {
  animation-name: heartFall;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
